.about {
  @extend .container;
  margin: auto;
  margin-top: 150px;
  width: 290px;
  margin-bottom: -150px;

  @media screen and(min-width:769px) {
    width: 830px;
    position: relative;
    margin: auto;
    height: auto;
    transform: translate(430px, -260px);
  }

  @media screen and(min-width:1280px) {
    width: 830px;
    position: relative;
    margin: auto;
    height: auto;
    transform: translate(435px, -420px);
  }
}

// .about_section {
//   @media screen and (min-width: 769px) {
//     width: 336px;
//     margin: 0px;
//     text-align: left;
//     position: relative;
//     transform: translate(127px, -394px);
//   }

//   @media screen and (min-width: 1280px) {
//     width: 800px;
//     display: block;
//     width: 380px;
//     transform: translate(165px, -572px);
//     left: 165px;
//   }
// }

.about_title {
  text-align: center;
  font-family: $mainFont;
  font-size: 24px;
  line-height: 2.1;
  color: $mainColor;
  @media screen and (min-width: 769px) {
    text-align: left;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 36px;
  }
}

.about_text_1 {
  font-family: $secondaryFont;
  font-size: 16px;
  line-height: 1.25;
  color: $mainColor;
  @media screen and (min-width: 769px) {
    display: block;
    width: 350px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
.about_text_2 {
  @extend .about_text_1;
  display: block;
  margin-top: 20px;
  @media screen and (min-width: 769px) {
    display: block;
    width: 340px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.about_text_desktop {
  display: none;
  font-family: $secondaryFont;
  font-size: 18px;
  line-height: 1.26;
  color: $mainColor;

  @media screen and (min-width: 1280px) {
    display: block;
    width: 392px;
  }
}

.about_link {
  font-family: $mainFont;
  font-size: 18px;
  line-height: 3.61;
  color: $brandColor;
  @media screen and (min-width: 1280px) {
    display: none;
  }
}
