@media screen and (max-width: 769px) {
  .contact__title {
    font-family: $mainFont;
    font-size: 24px;
    line-height: 2.1;
    text-align: center;
    color: $mainColor;
  }

  .contact__Text {
    @extend .registration__text;
    padding-top: 0px;
    padding-bottom: 22px;
  }
}
