.header {
  @media screen and (min-width: 769px) {
    margin: auto;
    background-image: url(../images/tablet/header_bg_tablet@1x.png);
    width: 769px;
    height: 622px;
    background-repeat: no-repeat;
  }
}

.header__section {
  @extend .container;

  @media screen and (max-width: 768px) {
    width: 320px;
    height: 460px;

    margin: auto;

    background-image: url(../images/mobile/header_bg@1x.png);
    width: 320px;
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url(../images/mobile/header_bg@2x.png);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../images/mobile/header_bg@4x.png);
    }
  }
}

.header__donuts_img {
  @media screen and (max-width: 768px) {
    position: absolute;
  }
}

.header__logo_link {
  @media screen and (max-width: 768px) {
    display: block;
    width: 96px;
    height: 43px;
    margin: auto;
    padding-top: 7px;
  }
}

.header__logo_svg {
  @media screen and (max-width: 768px) {
    width: 96px;
    height: 43px;
  }
}

.header__menu_svg {
  @media screen and (max-width: 768px) {
    width: 30px;
    height: 16px;
    fill: $mainColor;
  }
}

.header__menu_button {
  @media screen and (max-width: 768px) {
    position: absolute;
    transform: translateX(259px);
    top: 15px;
    background: none;
    border: none;
  }
}

.header__title_section {
  @media screen and (max-width: 768px) {
    margin-top: 33px;

    position: absolute;
    transform: translateX(48px);
  }
}

.header__title_hero {
  @media screen and (max-width: 768px) {
    font-family: $mainFont;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    color: $mainColor;
  }
}

.header__title_text {
  @media screen and (max-width: 768px) {
    margin-top: 3px;

    font-family: $secondaryFont;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: $mainColor;
  }
}

.header__register_button {
  @media screen and (max-width: 768px) {
    display: block;
    margin: auto;
    margin-top: 169px;
    margin-bottom: 45px;
    width: 145px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background: $brandColor;

    transition: scale linear;
  }
}

.header__register_button:hover,
.header__register_button:focus {
  transform: scale(0.9);
}

.header__register_button_text {
  @media screen and (max-width: 768px) {
    text-align: center;
    padding-top: 6.5px;
    font-family: $mainFont;
    font-size: 18px;
    line-height: 1.4;
    color: $whiteColor;
  }
}

.header_socials_backround {
  @media screen and (max-width: 768px) {
    width: 290px;
    height: 310px;
    background-image: url(../images/mobile/lanch-box@1x.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url(../images/mobile/lanch-box@2x.png);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../images/mobile/lanch-box@4x.png);
    }
  }
}

.header_socials {
  @media screen and (max-width: 768px) {
    width: 61px;
    margin-left: 129px;
  }
}

.header_socials_list {
  @media screen and (max-width: 768px) {
    width: 61px;
    display: flex;
    justify-content: space-between;
  }
}

.header_socials_svg {
  @media screen and (max-width: 768px) {
    fill: $mainColor;

    transition: fill 500ms linear;
  }
}

.header_socials_svg:hover,
.header_socials_svg:focus {
  fill: $hoverColor;
}

.hero__main_pic {
  pointer-events: all;
}

// Tablet______________________________
