@media screen and (max-width: 769px) {
  .header__section {
    width: 320px;
    height: 460px;

    margin: auto;

    background-image: url(../images/mobile/header_bg@1x.png);
    width: 320px;
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url(../images/mobile/header_bg@2x.png);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../images/mobile/header_bg@4x.png);
    }
  }

  .header__donuts_img {
    position: absolute;
  }

  .header__logo_link {
    display: block;
    width: 96px;
    height: 43px;
    margin: auto;
    padding-top: 7px;
  }

  .header__logo_svg {
    width: 96px;
    height: 43px;
  }

  .header__menu_svg {
    width: 30px;
    height: 16px;
    fill: $mainColor;
  }

  .header__menu_button {
    position: absolute;
    transform: translateX(259px);
    top: 15px;
    background: none;
    border: none;
  }

  .header__title_section {
    margin-top: 33px;

    position: absolute;
    transform: translateX(48px);
  }

  .header__title_hero {
    font-family: $mainFont;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    color: $mainColor;
  }

  .header__title_text {
    margin-top: 3px;

    font-family: $secondaryFont;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: $mainColor;
  }

  .header__register_button {
    display: block;
    margin: auto;
    margin-top: 169px;
    margin-bottom: 45px;
    width: 145px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background: $brandColor;

    font-family: $mainFont;
    font-size: 18px;
    line-height: 1.4;
    color: $whiteColor;

    transition: scale linear;
  }

  .header__register_button:hover,
  .header__register_button:focus {
    transform: scale(1.1);
  }

  .header_socials_backround {
    width: 290px;
    height: 310px;
    background-image: url(../images/mobile/lanch-box@1x.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url(../images/mobile/lanch-box@2x.png);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../images/mobile/lanch-box@4x.png);
    }
  }

  .header_socials {
    width: 61px;
    margin-left: 129px;
  }

  .header_socials_list {
    width: 61px;
    display: flex;
    justify-content: space-between;
  }

  .header_socials_svg {
    fill: $mainColor;

    transition: fill 500ms linear;
  }

  .header_socials_svg:hover,
  .header_socials_svg:focus {
    fill: $hoverColor;
  }

  .hero__main_pic {
    pointer-events: all;
  }
}
