.header {
  @media screen and (min-width: 769px) {
    margin: auto;
    background-image: url(../images/tablet/header_bg_tablet@1x.png);
    width: 769px;
    height: 622px;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url(../images/tablet/header_bg_tablet@2x.png);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../images/tablet/header_bg_tablet@4x.png);
    }
  }
}

.header__section {
  @extend .container;

  @media screen and (max-width: 768px) {
    width: 320px;
    height: 460px;

    margin: auto;

    background-image: url(../images/mobile/header_bg@1x.png);
    width: 320px;
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url(../images/mobile/header_bg@2x.png);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../images/mobile/header_bg@4x.png);
    }
  }
}

.header__donuts_img_mobile {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
    position: absolute;
  }
}

.header__donuts_img_tablet {
  display: none;

  @media screen and (min-width: 769px) {
    display: block;
    position: absolute;
    transform: translate(188px);
  }
}

.header__logo_link {
  display: block;
  @media screen and (max-width: 768px) {
    width: 96px;
    height: 43px;
    margin: auto;
    padding-top: 7px;
  }
  @media screen and (min-width: 769px) {
    padding-top: 27px;
    padding-bottom: 10px;
  }
}

.header__logo_svg {
  width: 96px;
  height: 43px;
}

.header__menu_svg {
  width: 30px;
  height: 16px;
  fill: $mainColor;
}

.header__menu_button {
  width: 35px;
  height: 21px;
  position: absolute;
  background: none;
  border: none;

  @media screen and (max-width: 768px) {
    transform: translateX(259px);
    top: 15px;
  }
  @media screen and (min-width: 769px) {
    transform: translateX(598px);
    top: 15px;
  }
}

.header__title_section {
  @media screen and (max-width: 768px) {
    margin-top: 33px;

    position: absolute;
    transform: translateX(48px);
  }
}

.header__title_hero {
  font-family: $mainFont;
  font-size: 30px;
  line-height: 1.27;
  color: $mainColor;

  @media screen and (max-width: 768px) {
    // font-family: $mainFont;
    // font-size: 30px;
    // line-height: 1.27;
    // text-align: center;
    // color: $mainColor;
  }
}

.header__title_text {
  font-family: $secondaryFont;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: $mainColor;
  margin-top: 3px;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.header__register_button {
  display: block;
  width: 145px;
  height: 40px;
  border-radius: 25px;
  border: none;
  background: $brandColor;
  transition: scale linear;

  @media screen and (max-width: 768px) {
    margin: auto;
    margin-top: 169px;
    margin-bottom: 45px;
  }
  @media screen and (min-width: 769px) {
    margin-top: 26px;
    margin-bottom: 31px;
  }
}

.header__register_button:hover,
.header__register_button:focus {
  transform: scale(0.9);
}

.header__register_button_text {
  text-align: center;
  padding-top: 6.5px;
  font-family: $mainFont;
  font-size: 18px;
  line-height: 1.4;
  color: $whiteColor;
}

.header_socials_backround {
  @media screen and (max-width: 768px) {
    width: 290px;
    height: 310px;
    background-image: url(../images/mobile/lanch-box@1x.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url(../images/mobile/lanch-box@2x.png);
    }

    @media (min-resolution: 3dppx) {
      background-image: url(../images/mobile/lanch-box@4x.png);
    }
  }
}

.header_socials {
  @media screen and (max-width: 768px) {
    width: 61px;
    margin-left: 129px;
  }
}

.header_socials_list {
  display: flex;
  width: 61px;
  justify-content: space-between;
}

.header_socials_svg {
  @media screen and (max-width: 768px) {
    fill: $mainColor;

    transition: fill 500ms linear;
  }
}

.header_socials_svg:hover,
.header_socials_svg:focus {
  fill: $hoverColor;
}

.hero__main_pic {
  pointer-events: all;
}

// Tablet______________________________
