.long_background {
  @extend .container;
  background-image: url(../images/mobile/reviews_bg@1x.png);
  margin: auto;
  margin-top: 442px;
  // width: 324px;
  height: 1215px;
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-resolution: 2dppx) {
    background-image: url(../images/mobile/reviews_bg@2x.png);
  }
  @media (min-resolution: 3dppx) {
    background-image: url(../images/mobile/reviews_bg@4x.png);
  }

  @media screen and (min-width: 769px) {
    background-image: url(../images/tablet/long_background@1x.png);
    width: 773px;
    margin-top: -85px;
    @media (min-resolution: 2dppx) {
      background-image: url(../images/tablet/long_background@2x.png);
    }
    @media (min-resolution: 3dppx) {
      background-image: url(../images/tablet/long_background@4x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background: url(../images/desktop/long_background_desktop@1x.png) 50% 50%;

    position: relative;
    width: 600px;
    @media (min-resolution: 2dppx) {
      background-image: url(../images/desktop/long_background_desktop@2x.png);
    }
    @media (min-resolution: 3dppx) {
      background-image: url(../images/desktop/long_background_desktop@4x.png);
    }
  }
}

.reviews {
  @extend .container;
  display: block;
  border: 1px solid green;
  min-width: 200px;
  // max-width: 600px;
  // position: relative;
  @media screen and (min-width: 1280px) {
    margin: 0 auto;
    display: block;
    border: 1px solid green;
  }
}

.reviews__title {
  @extend .about_title;
  position: absolute;
  transform: translate(129px, -5px);
  @media screen and (min-width: 769px) {
    transform: translate(280px, 25px);
  }
  @media screen and (min-width: 1280px) {
    transform: translate(280px, 25px);
    font-size: 36px;
    line-height: 65px;
  }
}

.reviews__rate {
  display: block;
  margin: auto;
  padding-top: 50px;
  @media screen and(min-width:769px) {
    position: absolute;
    transform: translate(245px, 235px);
  }
}

.reviews__photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  transform: translate(110px, -100px);
  @media screen and(min-width:769px) {
    display: none;
  }
}

.reviews__photo_tablet {
  display: none;
  @media screen and (min-width: 769px) {
    display: block;
    width: 186px;
    border-radius: 50%;
    position: absolute;
    transform: translate(220px, 90px);
  }
}

.user_area {
  height: 280px;
}

.reviews__name {
  margin-top: 110px;

  font-family: $secondaryFont;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 4.64;
  text-align: center;
  color: $mainColor;
  @media screen and(min-width:769px) {
    position: absolute;
    transform: translate(295px, 180px);
  }
}

.reviews__text {
  display: block;
  width: 290px;
  margin: auto;

  font-family: $secondaryFont;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: $mainColor;

  @media screen and (min-width: 769px) {
    padding-top: 340px;
    width: 626px;
    text-align: center;
  }
}

.prew__user {
  display: none;
  @media screen and (min-width: 769px) {
    display: block;
    width: 140px;
    position: absolute;
    transform: translate(41px, -214px);
  }
}

.next__user {
  @extend .prew__user;
  transform: translate(441px, -214px);
}

.prew__user_photo {
  width: 115;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 6px;
}
.prew__user_icon {
  width: 136px;
  height: 24px;
}

.prew__user_name {
  font-family: $secondaryFont;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: $mainColor;
}

.reviews__button_area {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 769px) {
    margin-top: 180px;
    margin-bottom: 30px;
  }
}

.reviews__button {
  width: 50px;
  height: 50px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.reviews__button_svg {
  position: absolute;
  transform: translateX(-18px);
}

.reviews__button_pages {
  font-family: $secondaryFont;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: $brandColor;
}
