<section class="contact_section">

<h2 class="contact__title">Contact</h2>
<a id="contact"></a>

<p class="contact__Text">We will answer any question!</p>

<form class="contact__form" autocomplete="on" novalidate>
    <input id="mailContacts" class="contact__form_input" type="email" placeholder="Email">
    <input id="question" class="contact__form_input"  type="text" placeholder="Type your question"> 
    <button id="contact-button" class="registration__form_button" type="button">Send</button>
</form>

</section>