<!-- Header -->
<header class="header">
    <section class="header__section">
    <picture class="header__donuts_img_mobile">
        <source
            srcset="./images/mobile/pic_background@1x.png 1x, ./images/mobile/pic_background@2x.png 2x, ./images/mobile/pic_background@4x.png 4x"
            media="(max-width: 768px)" type="image/png" />
        <img src="./images/mobile/pic_background@2x.png" alt="Пончики" loading="lazy">
    </picture>

    <picture class="header__donuts_img_tablet">
        <source
            srcset="./images/tablet/header_donuts@1x.png 1x, ./images/tablet/header_donuts@2x.png 2x, ./images/tablet/header_donuts@4x.png 4x"
            media="(min-width: 769px)" type="image/png" />
            
        <img src="./images/desktop/bg_header_donuts_desktop@1x.png" alt="Пончики" loading="lazy">
    </picture>

    <picture class="header__donuts_img_block">
        <source
            srcset="./images/desktop/bg_header_donuts_desktop@1x.png, ./images/desktop/bg_header_donuts_desktop@2x.png, ./images/desktop/bg_header_donuts_desktop@4x.png"
            media="(min-width: 1280px)" type="image/png" />
    
        <img src="./images/desktop/bg_header_donuts_desktop@1x.png" alt="Пончики" loading="lazy">
    </picture>

    <div class="desktop__version">

    <a href="./index.html" class="header__logo_link">
        <svg class="header__logo_svg">
            <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
    </a>

    <nav class="header__nav">
        <ul class="menu__list">
            <li class="menu__item">
                <a href="#about_us" class="menu__link" id="about_Link">About us</a>
            </li>
            <li class="menu__item">
                <a href="#program" class="menu__link" id="program_Link">Program</a>
            </li>
            <li class="menu__item">
                <a href="#reviews" class="menu__link" id="reviews_link">Reviews</a>
            </li>
            <li class="menu__item">
                <a href="#contact" class="menu__link" id="contacts_link">Contacts</a>
            </li>
        </ul>
    </nav>

    

    </div>




    <button type="button" class="header__menu_button">
        <svg class="header__menu_svg">
            <use href="./images/sprite.svg#icon-menu"></use>
        </svg>
    </button>


    <div class="header__title_section">
        <h1 class="header__title_hero">Donut Masterclass <br> with the Donut King</h1>
        <p class="header__title_text">Hosted by Eva Green</p>
    </div>

    <a href="#registration-area" class="header__register_button"> <p class="header__register_button_text">Register</p></a>

    <div class="header_socials_backround">

        <div class="header_socials">
            <ul class="header_socials_list">
                <li class="header_socials_items">
                    <a href="https://twitter.com/?lang=uk" target="blank" rel="noopener noreferrer"
                        class="header_socials_link">
                        <svg width=19 height=15 class="header_socials_svg">
                            <use href="./images/sprite.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>

                <li class="header_socials_items">
                    <a href="https://www.instagram.com/" target="blank" rel="noopener noreferrer">
                        <svg width=15 height=15 class="header_socials_svg">
                            <use href="./images/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>

                <li class="header_socials_items">
                    <a href="https://www.facebook.com/" target="blank" rel="noopener noreferrer">
                        <svg width=8 height=15 class="header_socials_svg">
                            <use href="./images/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <!-- Mobile menu -->
    <div class="menu menu_is-hidden">
    
        <button type="button" class="menu__close_button">
            <svg class="menu__close_svg">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
    
        <a href="./index.html" class="menu__logo_link">
            <svg class="menu__logo_svg">
                <use href="./images/sprite.svg#icon-logo"></use>
            </svg>
        </a>
    
        <nav>
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="#about_us" class="menu__link" id="about_Link">About us</a>
                </li>
                <li class="menu__item">
                    <a href="#program" class="menu__link" id="program_Link">Program</a>
                </li>
                <li class="menu__item">
                    <a href="#reviews" class="menu__link" id="reviews_link">Reviews</a>
                </li>
                <li class="menu__item">
                    <a href="#contact" class="menu__link" id="contacts_link">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<picture class="about_picture">
    <source
        srcset="./images/tablet/cupcake_box@1x.png 1x, ./images/tablet/cupcake_box@2x.png 2x, ./images/tablet/cupcake_box@4x.png 4x"
        type="image/png" loading="lazy" />
    <img src="./images/tablet/cupcake_box@1x.png" alt="Cupcake Box">
</picture>

</header>