<!-- Mobile menu -->
<div class="menu menu_is-hidden">

    <button type="button" class="menu__close_button">
        <svg class="menu__close_svg">
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
    </button>

    <a href="./index.html" class="menu__logo_link">
        <svg class="menu__logo_svg">
            <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
    </a>

    <nav>
        <ul class="menu__list">
            <li class="menu__item">
                <a href="" class="menu__link">About us</a>
            </li>
            <li class="menu__item">
                <a href="" class="menu__link">Program</a>
            </li>
            <li class="menu__item">
                <a href="" class="menu__link">Reviews</a>
            </li>
            <li class="menu__item">
                <a href="" class="menu__link">Contacts</a>
            </li>
        </ul>
    </nav>
</div>