<section class="registration">
    <div class="registration_area">
        <h2 class="registration__title">Registration</h2>
        <a href="" id=registration-area></a>

        <p class="registration__text">May 23, 11:00 <br> New York</p>
        <p class="registration__text_price">$ 699</p>

        <div class="registration__text_underline"></div>

        <p class="registration_form_title">Apply your personal info <br> for registration</p>

        <form class="registration__form" action="registration_form" autocomplete="on" novalidate>
            <input class="registration__form_input" type="text" placeholder="Your name">
            <input class="registration__form_input" type="number" placeholder="Phone number">
            <input class="registration__form_input" type="email" placeholder="Email">

            <a href="#registration-area" class="registration__form_button">
                <p class="header__register_button_text">Register</p>
            </a>
        </form>




    </div>
</section>