<section>
    <h2 class="reviews__title">Reviews</h2><a id="reviews"></a>

    <svg class="reviews__rate" width=136 height=24>
        <use href="./images/sprite.svg/#icon-stars"></use>
    </svg>


    <div class="reviews__area">

        <div class="user_area" id="user_area">

            <img class="reviews__photo" src="./images/mobile/behrouz-sasani.jpg" alt="Мужчина">

            <p class="reviews__name">Will</p>
            <p class="reviews__text">
                Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
            </p>

        </div>

        <div class="reviews__button_area">

            <button type="button" class="reviews__button" id=button-previous>
                <svg  class="reviews__button_svg" width=35 height=1>
                    <use href="./images/sprite.svg#icon-prev_button"></use>
                </svg>
            </button>

            <p class="reviews__button_pages"><span id=page>1</span>/<span id=last_page>5</span></p>

            <button type="button" class="reviews__button" id=button-next>
                <svg class="reviews__button_svg" width=35 height=1>
                    <use href="./images/sprite.svg#icon-prev_button"></use>
                </svg>
            </button>

        </div>

    </div>
</section>







