<section class="reviews">
    <h2 class="reviews__title">Reviews</h2><a id="reviews"></a>

    <svg class="reviews__rate" width=136 height=24>
        <use href="./images/sprite.svg/#icon-stars"></use>
    </svg>


    <div class="reviews__area">

        <div class="user_area" id="user_area">
            <picture>
                <source srcset="./images/mobile/will_mobile@1x.jpg 1x, ./images/mobile/will_mobile@2x.jpg 2x, ./images/mobile/will_mobile@4x.jpg 4x">
                <img class="reviews__photo" src="./images/mobile/will_mobile@1x.jpg" alt="Мужчина">
            </picture>

         
            <picture >
                <source srcset="./images/tablet/will_tablet@1x.jpg 1x, ./images/tablet/will_tablet@2x.jpg 2x, ./images/tablet/will_tablet@4x.jpg 4x">
                <img class="reviews__photo_tablet"  src="./images/tablet/will_tablet@1x.jpg" alt="Мужчина">
            </picture>


            

            <p class="reviews__name">Will</p>
            <p class="reviews__text">
                Last time I have visited a cooking course by Eva
                I was impressed with the way she explained everything
                to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
                Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
            </p>

        </div>

        <div class="prew__user">
            <picture >
                <source srcset="./images/tablet/daniil_tablet@1x.jpg 1x, ./images/tablet/daniil_tablet@2x.jpg 2x, ./images/tablet/daniil_tablet@4x.jpg 4x"
                type="image/jpg" loading="lazy">
                <img class="prew__user_photo" src="./images/tablet/daniil_tablet@1x.jpg" alt="Daniil">
            </picture>
            <svg class="prew__user_icon">
                <use href='./images/sprite.svg#icon-stars4' width='136' height='24'></use>
            </svg>
            <p class="prew__user_name">John</p>
        </div>

        <div class="next__user">
            <picture>
                <source
                    srcset="./images/tablet/liza_tablet@1x.jpg 1x, ./images/tablet/liza_tablet@2x.jpg 2x, ./images/tablet/liza_tablet@4x.jpg 4x"
                    type="image/jpg" loading="lazy">
                <img class="prew__user_photo" src="./images/tablet/liza_tablet@1x.jpg" alt="Elisabeth">
            </picture>
            <svg class="prew__user_icon">
                <use href='./images/sprite.svg#icon-stars' width='136' height='24'></use>
            </svg>
            <p class="prew__user_name">Elisabeth</p>
        </div>

        <div class="reviews__button_area">

            <button type="button" class="reviews__button" id=button-previous>
                <svg  class="reviews__button_svg" width=35 height=1>
                    <use href="./images/sprite.svg#icon-prev_button"></use>
                </svg>
            </button>

            <p class="reviews__button_pages"><span id=page>1</span>/<span id=last_page>5</span></p>

            <button type="button" class="reviews__button" id=button-next>
                <svg class="reviews__button_svg" width=35 height=1>
                    <use href="./images/sprite.svg#icon-prev_button"></use>
                </svg>
            </button>

        </div>

    </div>
</section>







