@charset "UTF-8";
CSS *,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media screen and (max-width: 768px) {
  body {
    min-width: 320px;
    max-width: 768px;
    position: relative;
  }
}

@media screen and (max-width: 769px) {
  .header__section {
    width: 320px;
    height: 460px;
    margin: auto;
    background-image: url(../images/mobile/header_bg@1x.png);
    width: 320px;
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 769px) and (min-resolution: 2dppx) {
  .header__section {
    background-image: url(../images/mobile/header_bg@2x.png);
  }
}

@media screen and (max-width: 769px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 769px) and (min-resolution: 3dppx) {
  .header__section {
    background-image: url(../images/mobile/header_bg@4x.png);
  }
}

@media screen and (max-width: 769px) {
  .header__donuts_img {
    position: absolute;
  }
  .header__logo_link {
    display: block;
    width: 96px;
    height: 43px;
    margin: auto;
    padding-top: 7px;
  }
  .header__logo_svg {
    width: 96px;
    height: 43px;
  }
  .header__menu_svg {
    width: 30px;
    height: 16px;
    fill: #2e2520;
  }
  .header__menu_button {
    position: absolute;
    -webkit-transform: translateX(259px);
            transform: translateX(259px);
    top: 15px;
    background: none;
    border: none;
  }
  .header__title_section {
    margin-top: 33px;
    position: absolute;
    -webkit-transform: translateX(48px);
            transform: translateX(48px);
  }
  .header__title_hero {
    font-family: Caveat Brush, Arial;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    color: #2e2520;
  }
  .header__title_text {
    margin-top: 3px;
    font-family: Montserrat, Arial;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #2e2520;
  }
  .header__register_button {
    display: block;
    margin: auto;
    margin-top: 169px;
    margin-bottom: 45px;
    width: 145px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background: #ab816c;
    -webkit-transition: scale linear;
    transition: scale linear;
  }
  .header__register_button:hover,
  .header__register_button:focus {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .header__register_button_text {
    text-align: center;
    padding-top: 6.5px;
    font-family: Caveat Brush, Arial;
    font-size: 18px;
    line-height: 1.4;
    color: #ffffff;
  }
  .header_socials_backround {
    width: 290px;
    height: 310px;
    background-image: url(../images/mobile/lanch-box@1x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 769px) and (min-resolution: 2dppx) {
  .header_socials_backround {
    background-image: url(../images/mobile/lanch-box@2x.png);
  }
}

@media screen and (max-width: 769px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 769px) and (min-resolution: 3dppx) {
  .header_socials_backround {
    background-image: url(../images/mobile/lanch-box@4x.png);
  }
}

@media screen and (max-width: 769px) {
  .header_socials {
    width: 61px;
    margin-left: 129px;
  }
  .header_socials_list {
    width: 61px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_socials_svg {
    fill: #2e2520;
    -webkit-transition: fill 500ms linear;
    transition: fill 500ms linear;
  }
  .header_socials_svg:hover,
  .header_socials_svg:focus {
    fill: #876655;
  }
  .hero__main_pic {
    pointer-events: all;
  }
}

@media screen and (max-width: 769px) {
  .menu_is-hidden {
    display: none;
  }
  .static {
    position: static;
    overflow: hidden;
    scroll-behavior: unset;
  }
  .menu {
    background: rgba(254, 243, 228, 0.9);
    width: 320px;
    height: 100%;
    position: absolute;
    z-index: 100;
    -webkit-transform: translate(0px, -615px);
            transform: translate(0px, -615px);
    -webkit-transition: scale 500ms linear;
    transition: scale 500ms linear;
    scroll-behavior: smooth;
  }
  .menu__button_is-hidden {
    display: none;
  }
  .menu__close_button {
    background: none;
    border: none;
    position: absolute;
    width: 25px;
    height: 18px;
    -webkit-transform: translate(267px, 18px);
            transform: translate(267px, 18px);
  }
  .menu__close_svg {
    width: 15px;
    height: 15px;
  }
  .menu__logo_link {
    width: 190px;
    height: 85px;
    display: block;
    margin-left: 65px;
    padding-top: 25px;
    padding-bottom: 40px;
  }
  .menu__logo_svg {
    width: 190px;
    height: 85px;
  }
  .menu__list {
    list-style: none;
  }
  .menu__item {
    display: block;
    text-align: center;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 45px;
  }
  .menu__link {
    text-decoration: none;
    font-family: Montserrat, Arial;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.21;
    color: #2e2520;
  }
  .menu__link:hover,
  .menu__link:focus {
    color: #876655;
  }
}

@media screen and (max-width: 769px) {
  .about, .program {
    margin: auto;
    margin-top: 150px;
    width: 290px;
    margin-bottom: -150px;
  }
  .about_title, .program__title, .registration__title, .reviews__title {
    text-align: center;
    font-family: Caveat Brush, Arial;
    font-size: 24px;
    line-height: 2.7;
    color: #2e2520;
  }
  .about_text_1, .about_text_2, .program__text, .program__item {
    font-family: Montserrat, Arial;
    font-size: 16px;
    line-height: 1.25;
    color: #2e2520;
  }
  .about_text_2 {
    display: block;
    margin-top: 20px;
  }
  .about_link, .program__link {
    font-family: Caveat Brush, Arial;
    font-size: 18px;
    line-height: 3.61;
    color: #ab816c;
  }
}

@media screen and (max-width: 769px) {
  .program {
    margin-bottom: 60px;
  }
  .program__text {
    display: block;
    margin-bottom: 10px;
  }
  .program__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .events__section {
    margin-top: 40px;
  }
  .event__1, .event__2 {
    background-image: url(../images/mobile/program_bg@1x.png);
    width: 150px;
    height: 145px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 769px) and (min-resolution: 2dppx) {
  .event__1, .event__2 {
    background-image: url(../images/mobile/program_bg@2x.png);
  }
}

@media screen and (max-width: 769px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 769px) and (min-resolution: 3dppx) {
  .event__1, .event__2 {
    background-image: url(../images/mobile/program_bg@4x.png);
  }
}

@media screen and (max-width: 769px) {
  .event__2 {
    margin-top: 57px;
  }
  .event__1_img {
    position: absolute;
    -webkit-transform: translate(45%, -30px);
            transform: translate(45%, -30px);
  }
  .event__2_img {
    position: absolute;
    -webkit-transform: translate(50%, -30px);
            transform: translate(50%, -30px);
  }
  .event__3_img {
    position: absolute;
    -webkit-transform: translate(60%, -30px);
            transform: translate(60%, -30px);
  }
  .event__4_img {
    position: absolute;
    -webkit-transform: translate(60%, -30px);
            transform: translate(60%, -30px);
  }
  .event__title {
    padding-top: 49px;
    margin-bottom: 13px;
    font-family: Caveat Brush, Arial;
    font-size: 18px;
    line-height: 1.28;
    text-align: center;
    color: #000000;
  }
  .event__text {
    margin-bottom: 13px;
    font-family: Montserrat, Arial;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #000000;
  }
  .event__1_svg {
    display: block;
    margin: auto;
  }
  .event__area_2 {
    position: absolute;
    -webkit-transform: translate(148px, -325px);
            transform: translate(148px, -325px);
  }
}

@media screen and (max-width: 769px) {
  .long_background {
    background-image: url(../images/mobile/reviews_bg@1x.png);
    margin: auto;
    width: 324px;
    height: 1215px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 769px) and (min-resolution: 2dppx) {
  .long_background {
    background-image: url(../images/mobile/reviews_bg@2x.png);
  }
}

@media screen and (max-width: 769px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 769px) and (min-resolution: 3dppx) {
  .long_background {
    background-image: url(../images/mobile/reviews_bg@4x.png);
  }
}

@media screen and (max-width: 769px) {
  .reviews__title {
    position: absolute;
    -webkit-transform: translate(129px, -13px);
            transform: translate(129px, -13px);
  }
  .reviews__rate {
    display: block;
    margin: auto;
    padding-top: 50px;
  }
  .reviews__photo {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    -webkit-transform: translate(110px, -100px);
            transform: translate(110px, -100px);
  }
  .user_area {
    height: 280px;
  }
  .reviews__name {
    margin-top: 110px;
    font-family: Montserrat, Arial;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 4.64;
    text-align: center;
    color: #2e2520;
  }
  .reviews__text {
    display: block;
    width: 290px;
    margin: auto;
    font-family: Montserrat, Arial;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #2e2520;
  }
  .reviews__button_area {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews__button {
    width: 50px;
    height: 50px;
    position: relative;
    background: none;
    border: none;
  }
  .reviews__button_svg {
    position: absolute;
    -webkit-transform: translateX(-18px);
            transform: translateX(-18px);
  }
  .reviews__button_pages {
    font-family: Montserrat, Arial;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    color: #ab816c;
  }
}

@media screen and (max-width: 769px) {
  .registration {
    background-image: url(../images/mobile/rectangle_bg@1x.png);
    margin: auto;
    width: 290px;
    height: 510px;
    background-repeat: no-repeat;
    background-size: 290px 510px;
  }
}

@media screen and (max-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 769px) and (min-resolution: 2dppx) {
  .registration {
    background-image: url(../images/mobile/rectangle_bg@2x.png);
  }
}

@media screen and (max-width: 769px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 769px) and (min-resolution: 3dppx) {
  .registration {
    background-image: url(../images/mobile/rectangle_bg@4x.png);
  }
}

@media screen and (max-width: 769px) {
  .registration_area {
    display: block;
    padding-top: 30px;
  }
  .registration__text, .registration__text_price {
    display: block;
    padding-top: 11px;
    text-align: center;
    font-family: Montserrat, Arial;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: #2e2520;
  }
  .registration__text_price {
    padding-top: 25px;
    padding-bottom: 20px;
  }
  .registration__text_underline {
    width: 250px;
    margin: auto;
    margin-bottom: 11px;
    border-bottom: 1px solid rgba(171, 129, 108, 0.5);
  }
  .registration_form_title {
    font-family: Montserrat, Arial;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #2e2520;
  }
  .registration__form {
    display: block;
    margin: auto;
    margin-top: 17px;
  }
  .registration__form_input {
    display: block;
    width: 240px;
    margin: auto;
    border: none;
    border-bottom: 1px solid #ab816c;
    font-family: Montserrat, Arial;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(171, 129, 108, 0.5);
  }
  .registration__form_input:not(:last-child) {
    margin-bottom: 25px;
  }
  input::-webkit-input-placeholder {
    color: rgba(171, 129, 108, 0.5);
  }
}
/*# sourceMappingURL=main.css.map */